.container {
  width: "100%";
  margin: 0 auto;
  background-image: url("../../assets/images/movie-details-bg.jpg");
  background-position: "cover";
  min-height: calc(100vh - 310px);
  .schedule {
    margin-bottom: 100px;
    padding: 2rem 22rem 8rem;

    .list_schedule {
      list-style-type: none;
      display: flex;
      justify-content: center;
      gap: 40px;
      .item_schedule {
        .linkActive {
          border: none;
          border-bottom: 1px solid #d4dd29;
          padding-bottom: 3px;
          text-decoration: none;
          font-size: 24px;
          text-transform: uppercase;
          color: #d4dd29;
          background: none;
          cursor: pointer;
        }
        .link_schedule {
          cursor: pointer;
          border: none;
          text-decoration: none;
          font-size: 24px;
          text-transform: uppercase;
          color: white;
          background: none;
        }
      }
      .line {
        font-size: 20px;
        color: white;
      }
    }

    .render {
      .borderBottom {
        height: 2px;
        margin: 0 4rem;
        background-color: #42af33;
      }
    }

    .movieDetails {
      margin-top: 2rem;
      scroll-behavior: "smooth";
    }
  }
}
